@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

:root{
    --font-header: 'Passion One', cursive;
    --font-main: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    height: 200px;
    padding-top: 40px;
}

header > h1{
    color: white;
    text-align: center;
    font-family: var(--font-header);
    font-size: 120px;
    padding-bottom: 8px;
}

header > p{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header p > a:hover{
    text-decoration: underline;
}

main article pre{
    text-align: left;
    margin-left: -150px;
    font-family: var(--font-main);
    font-size: 45px;
}

pre#v1{
    background-color: white;
    padding-bottom: 30px;
    padding-top: 60px;
}

pre#v2{
    background-image: url(imagens/background001.jpg);
    background-position: left top;
    background-attachment: fixed;
    color: white;
    padding-left: 10px;
}

pre#v2 > p{
    background-color: rgba(0, 0, 0, 0.404);
    height: 100vh;
    margin-left: -100px;
    width: 830px;
}